<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<groups>
		<run>
			<include name = "Sanity" />
			<exclude name = "Regression"/>
		</run>
	</groups>
    <classes>
      <class name="S_009_TestNG_grouping.G002_signup"/>
      <class name="S_009_TestNG_grouping.G001_login"/>
      <class name="S_009_TestNG_grouping.G003_payment"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
  